@media (min-width: 768px) and (max-width: 979px) {

@media (max-width: 567px) {}

@media (max-width: 48px) {}

@media (max-width: 320px) {

form.wpcf7-form section#contact-form input[type="text"]{ width:94%!important;}
form.wpcf7-form section#contact-form input[type="email"]{ width:94%!important;}

body{display:none;}
	
}